/** 
	* link: 用户登录
	* @author: 李晓顺
	* date: 2015-09-06
    */

.content-menu-right{
  width: 582px;
  height: 700px;
  float: left;
  margin-top: 40px;
  margin-left: 60px;
}

.content-menu-right-head{
  float: left;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #bfbfbf;
}
 .content-menu-right-head h3{
  color: #6b6b6b;
  margin-top: 18px;
  font-weight: normal;
}
.content-menu-right-content{
  float: left;
  margin-top:30px;
}
.name, .name2{
  float: left;
  color: #000000;
}
.moren{
  width: 80px;
  background-color: #d9272c;
  margin-left: 20px;
  color: #ffffff;
  text-align:center;
  float: left;
}
.address-1{
  width: 100%;
  float: left;
}
.address-2{
  width: 100%;
  clear: both;
  float: left;
  margin-top: 40px;
}
.news-1{
  width: 100%;
  float: left;
  color: #bcbcbc;
  margin-top: 20px;
}
.news-2{
  width: 100%;
  float: left;
  color: #bcbcbc;
  margin-top: 10px;
}
.caozuo{
  float: right;
  font-size: 12px;
  margin-right: 80px;
}
.pwz{
  height: 30px;
  line-height: 30px;
}
.pw{
  float: left;
  width: 100px;
  text-align: right;
  margin-left: 25px;
}
.bianji{
  color: #d9272c;
  margin-right: 40px;
}
.shanchu{
  color: #d9272c;
}

.new-address input{
  float: left;
  margin-top: 25px;
  width: 120px;
  height: 36px;
  font-size: 16px;
  color: #ffffff;
  background-color: #d9272c;
}

.content-menu-right-content ul li{
	width: 650px;
	float: left;
	margin-bottom: 30px;
}
.new-address-li select{
  height: 25px;
	margin-top: 11px;
}

.pw
