/** 
	* link: 1????úèY
	* @author: àμ?è1e
	* date: 2015-08-24
*/

#banner{
	width: 100%;
	height:382px;
	margin-top: 40px;
}
#banner_main{
	width: 1130px;
	height: 382px;
	margin: 0 auto;
	position:relative;
}
#banner_left{
	width: 334px;
	height: 380px;
	font-weight: 100;
	float: left;
	position:relative;
	border: 1px solid #e45454;
	border-right: 0px;
}
#tb_banner_left {
	width: 336px;
	height: 380px;
	font-weight: 100;
}
#tb_banner_left ul:hover{
	background: #ffffff;
	color: #000000;
}
#tb_banner_left ul:hover a{
	color: #000000;
}
#tb_banner_left ul a:hover{
	color: #d9272c;
}
#banner_left ul:hover .banner_show {
	display: block;
}
#tb_banner_left ul{
	overflow: hidden;
	padding: 10px 10px;
	height: 56px;
    line-height: 58px;
	background: #d9272c;
	color: #ffffff;
}
#tb_banner_left ul li {
	float:left;
}
#tb_banner_left ul b{
	width: 50px;
	height: 45px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}

/*===========================================================================*/
#Ba_menu1_img {
	background:url(../images/banner/smChangPin.png) no-repeat;
}
#banner_left ul:hover #Ba_menu1_img{
	background:url(../images/banner/smChangPin1.png) no-repeat;
}

#Ba_menu2_img {
	background:url(../images/banner/jyChangPin.png) no-repeat;
}
#banner_left ul:hover #Ba_menu2_img{
	background:url(../images/banner/jyChangPin1.png) no-repeat;
}

#Ba_menu3_img {
	background:url(../images/banner/xfChangPin.png) no-repeat;
}
#banner_left ul:hover #Ba_menu3_img{
	background:url(../images/banner/xfChangPin1.png) no-repeat;
}

#Ba_menu4_img {
	background:url(../images/banner/ydChangPin.png) no-repeat;
}
#banner_left ul:hover #Ba_menu4_img{
	background:url(../images/banner/ydChangPin1.png) no-repeat;
}

#Ba_menu5_img {
	background:url(../images/banner/xxChangPin.png) no-repeat;
}
#banner_left ul:hover #Ba_menu5_img{
	background:url(../images/banner/xxChangPin1.png) no-repeat;
}

#tb_banner_left ul span{
	font-size: 20px
}
#tb_banner_left ul a{
	color: #ffffff;
	font-size: 14px;
	text-decoration:none;
	margin-left: 10px;
}

/*========================================================================*/
.banner_show{
	width: 386px;
	height: 360px;
	padding-left: 20px;
	padding-top: 20px;
	background: #ffffff;
	border: 1px solid #e45454;
	border-left: 0px;
	position:absolute;
	left:334px;
	top:-1px;
	z-index: 12;
	display: none;
}
#Ba_leftup {
	width: 191px;
	height: 180px;
	float: left;
}
.Ba_show_base ul {
	height: 20px!important;
	padding: 3px 0px!important;
	line-height: 15px!important;
	font-size: 13px;
	background: #ffffff!important;
}
.Ba_show_base ul li{
	height: 15px!important;
	width: 80px!important;
}
.Ba_show_base b{
	height: 30px!important;
	width: 30px!important;
	margin: 0px 0px 0px 12px;
}
#Ba_rightup {
	width: 191px;
	height: 180px;
	float: right;
}
#Ba_leftdown {
	width: 191px;
	height: 180px;
	float: left;
}
#Ba_rightdown {
	width: 191px;
	height: 180px;
	float: right;
}

/*===================================?úèYí???±???==============================*/
#banner_Roll{
	width: 795px;
	height: 382px;
	float: left;
	z-index: 9;
	position:relative;
}
.area { 
	width:798px;
	height: 382px;
	overflow:hidden; 
	position:relative;
}
.area a{
	color:#333;
	text-decoration:none;
	}
.area a:hover{
	color:#c00;
	 text-decoration:underline;
	 }
.js {
	position: relative; 
	width:793px; 
	height: 382px;
	margin:0 auto;
	}
.js img {
	width:793px;
	height:382px;
}
.prevBtn{
	background:url(../images/banner/btn01.jpg) no-repeat;
	height:58px; 
	width: 32px; 
	cursor:pointer;
	display:block; 
	position:absolute; 
	top:120px;
	left: 2px;
	}
.nextBtn {
	background:url(../images/banner/btn02.jpg) no-repeat;
	height:58px; 
	width: 32px; 
	cursor:pointer;
	display:block; 
	position:absolute; 
	right:2px; 
	top:120px;
	}
.imgSelected {
	background: url(../images/banner/jsNav.png) no-repeat;
	}
.bg{ 
	width:793px; 
	padding-top:1px; 
	background:#a6617c;
	opacity: 0.8;
	height:34px; 
	font-weight: bold; 
	position:absolute; 
	left:0;
	bottom:0px; 
	}
.jsNav{ 
	z-index: 10;
	position:absolute; 
	left:300px; 
	bottom:5px;
	}
.jsNav a{
	width:20px; 
	font-size:14px; 
	margin-right:10px; 
	display:inline; 
	height:20px; 
	line-height:20px;
	text-align:center;
    display:block;
    float:left; 
    color:#000;
	background:#fff;
	border-radius: 50%;
    }
.jsNav a:hover{
	background:#D2691E;
	text-decoration:none;
	color:#fff;
	}
.jsNav .imgSelected { 
	background:#7FFF00;
	color: #fff;
	}
.qq{ z-index:10}
