/** 
	* link: Ö÷Ò³½Å²¿	
	* @author: ÀµîÈ¹ð
	* date: 2015-10-11
*/

#HomepageFooter {
	width: 100%;
	height: 375px;
	margin: 0 auto;
}
#HomepageFooter_style {
	width: 100%;
	height: 375px;
	margin: 0 auto;
	background-color: #bfbfbf;
}
#HomepageFooter_top {
	width: 100%;
	height: 125px;
	padding-top: 20px;
	background-color: #dcdcdc;
	box-shadow:0px 5px 5px -2px #4d4c4c;
}
#HomepageFooter_topBox {
	width: 540px;
	height: 125px;
	margin: 0 auto;
}
.BoxCircle1,.BoxCircle2,.BoxCircle3,.BoxCircle4,.BoxCircle5 {
	float: left;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	margin-right: 53px;
	background:url(../images/Homefooter.png);
	transition:cubic-bezier(0.17, 0.67, 0.88, 1) 0.4s;
	cursor:pointer;
}
.BoxCircle1 {
  background-position: 0px 0px;
}
.BoxCircle1:hover {
	background-position: 0px -75px;
}
.BoxCircle2 {
  background-position: -117px 0px;
}
.BoxCircle2:hover {
  background-position: -117px -75px;
}
.BoxCircle3 {
  background-position: -234px 0px;
}
.BoxCircle3:hover {
  background-position: -234px -75px;
}
.BoxCircle4 {
  background-position: -351px 0px;
}
.BoxCircle4:hover {
  background-position: -351px -75px;
}
.BoxCircle5 {
  background-position: -468px 0px;
	margin-right:0px;
}
.BoxCircle5:hover {
  background-position: -468px -75px;
}
#HomepageFooter_topBox ul {
  width: 600px;
}
#HomepageFooter_topBox ul li {
	float: left;
	margin-top: 5px;
	margin-right: 55px;
}
#HomepageFooter_topBox ul li a {
	text-decoration:none;
	color: #000000;
}
#HomepageFooter_botom {
	width: 500px;
	height: 160px;
	margin: 0 auto;
	text-align: center;
	padding-top: 70px;
}
