/** 
	* link: µ¼º½Ìõ
	* @author: ÀµîÈ¹ð
	* date: 2015-08-24
*/
#header{
	width:100%;
	height:70px;
	box-shadow: 0px 2px 5px #929292;
}
#nav{
	width:1200px;
	padding-top: 5px;
	height: 70px;
	font-family:Microsoft yahei;
	text-align: center;
	margin: 0 auto;
}
#logo {
	float: left;
}

#nav_menu{
	font-weight: 100;
	float: left;
	font-size: 18px;
} 
#nav_menu ul{
	width: 620px;
	height: 60px;
	padding-top: 1px;
}
#nav_menu ul li{ 
	float:left;
	height: 60px;
	width: 155px;
}
#nav_menu ul li a{ 
	text-decoration:none; 
	display:block;
	height:61px;
	line-height:60px;
	width:155px;
	color: #000000;
	//border-bottom: 2px solid #EEE;
	text-align:center;
}
#nav_menu ul li a:hover{
	border-bottom: 3px solid #3FA7CB;
}
#nav_menu ul li ul{
	display:none;
}
#nav_menu ul li:hover ul{
	display: block;
}
#nav_menu ul li ul li{
	float: none;
	height: 40px;
}
#nav_menu ul li ul li a{
	height: 40px;
	width: 155px;
	line-height:40px;
	font-size: 15px;
	background:#ffffff;
	position: relative;
	border-bottom: 0px solid #EEE!important;
	z-index: 22;
}
#nav_menu ul li ul a:hover {
	color: #fff;
	background-color:rgba(230, 213, 36, 0.95);
	border:1px solid #fff;
  box-shadow:0px 0px 8px 2px #FFF;
}
#headerNav_land {
	height:61px;
	width:155px;
	float: right;
	line-height: 60px;
}
#headerNav_land a{
	font-size: 16px;
	color: #000;
	text-decoration:none;
}
#headerNav_land a:hover{
	color: #d9272c;
	//border-bottom: 2px solid #3FA7CB;
}
#search{
	width: 300px;
	height: 35px;
	padding: 1px;
	float: right;
	margin-top: 15px;
	//background: #dcdcdc;
	border: 1px solid #dcdcdc;
	position: relative;
  left: 0px;
  top:0px;
}
#search_button{
	float: right;
	width: 75px;
	height: 35px;
	border: none;
	color: #ffffff;
	font-size: 20px;
/* 	font-family: STSong; */
	font-weight:900;
	cursor:pointer;
  background: #ccc;
	font-size:17px;
	transition:all 1s;
}
#search_button:hover{
	background-color:#aaa;
	transition:all 0s;
}
#search_text{
	width: 218px;
	height: 28px;
	padding: 3px;
	float: right;
	border: 0 none;
	background: #fff;
}