@charset "utf-8";
/* CSS Document */

.acont_comment{
	width:582px;
	height:90px;
	float:left;
	margin-top: 30px;
}
.message_head_portrait1{
	float: left;
	width: 80px;
	height: 80px;
	margin: 5px 0px 0px 10px;
	background: url(../images/accont_message_comment_headportrait1.png);
}
.message_comment1{
	padding-top: 26px;
	width: 400px;
	height:60px;
	float: left;
}

.message_nickname1,.message_content1,.message_nickname2,.message_content2,.message_nickname3,.message_content3,.message_nickname4,
.message_content4,.message_nickname5,.message_content5,.message_nickname6,.message_content6{
	float: left;
	font-size: 12px;
	margin-left: 10px;
	color: #5d80a9;
}
.message_pin1,.message_pin2,.message_pin3,.message_pin4,.message_pin5,.message_pin6{
	float: left;
	font-size: 12px;
	margin-left: 10px;
	color: #d6d6d6;
}
.cont_message-comm-caozuo{
	float: right;
	width: 80px;
	margin: 8px 5px 0px 0px;
}
.cont_message-comm-time1,.cont_message-comm-time2,.cont_message-comm-time3,
.cont_message-comm-time4,.cont_message-comm-time5,.cont_message-comm-time6{
	float: right;
	font-size: 12px;
	color: #a8a8a8;
}
.cont_message-comm-xiangqing1,.cont_message-comm-xiangqing2,.cont_message-comm-xiangqing3,
.cont_message-comm-xiangqing4,.cont_message-comm-xiangqing5,.cont_message-comm-xiangqing6{
	float: right;
	margin-top: 40px;
	font-size: 12px;
	color: #7d98b8;
}
.cont_message_comm_foot{
	float: left;
	margin: 50px 0px 0px 150px;
}
.cont_message_comm_foot_up{
	float: left;
	width: 50px;
	height: 20px;
	line-height: 20px;
	margin-right: 40px;
	padding-left: 10px;
	font-size: 12px;
	border:1px solid #bcbcbc;
	color: #bcbcbc;
}
.cont_message_comm_foot_count{
	float: left;
	width: 28px;
	height: 20px;
	
}
.cont_message_comm_foot_count1{
	float: left;
	color: #d9272c;
}
.cont_message_comm_foot_count2{
	float: left;
	color: #bcbcbc;
}
.cont_message_comm_foot_count3{
	float: right;
	color: #bcbcbc;
}
.cont_message_comm_foot_down{
	width: 50px;
	height: 20px;
	line-height: 20px;
	float: left;
	margin-left: 40px;
	padding-left: 10px;
	font-size: 12px;
	border:1px;
	background: #d9272c;
	color: #ffffff;
}
