@charset "utf-8";
/* CSS Document */

/*.content-menu-right-messaged-head{
  float: left;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #bfbfbf;
}*/

.cont-menu-right-message-head{
 float: left;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #bfbfbf;
}
.cont-menu-right-message-head ul{
    color: #a7a7a7;
}
.cont-menu-right-message-head li{
  margin-top: 26px;
  float: left;
  padding:5px;
  cursor: pointer;
  font-size: 10px;
  margin-right: 20px;
  font-weight: bold;
}
.hover1{
  color: #de5558;
  border-bottom: 1px solid #de5558;
}
.cont-menu-right-message-down{
  width:582px;
  height: 800px;
  float:left;
}