/** 
	* link: 用户登录
	* @author: 李晓顺
	* date: 2015-08-24
    */
@charset "utf-8";
/* CSS Document */
.content{
	float: left;
	width:100%;
	height:609px;
	margin-top: 4px;
}
.content-menu{
	margin:0 auto;
	width: 1230px;
	height: 689px;
	clear: both;/*消除浮动*/
}
.content-menu-left{
	margin-top: 93px;
	float: left;
	width: 710px;
	height: 589px;
}
ul {
	list-style-type: none;
}

.front_input{
	width: 220px;
	display: block;
	text-align: right;
	margin-top: 8px;
}
.front_input,ul{
	float: left;
	color: #bcbcbc;
}
.front_input,ul li input{
	margin-bottom:30px;
	font-size: 19px;
}
.after_input{
	margin-left: 5px;
	
	float: left;
	width: 208px;
	font-size: 12px;
	height: 41px;
}
#iphone_error, #rpass_error{
	line-height: 41px;
	color: #ff0000;
}
#pass_error{
	
}
ul input{
	float: left;
	width: 270px;
	height: 45px;
	border: 1px solid rgb(204, 204, 204);
}
.front_input{
	clear: both;
}

#pass{
	float: left;
}
/*.pass-prompt{
	float: right;
	width: 208px;
	font-size: 12px;
	height: 41px;
	margin:4 0 0 6;
	color:  #bcbcbc;
}*/

#input1{
	width: 147px;
	float: left;
}
#note-button{
	width: 105px;
	margin-left: 17px;
	background:#e03a3a;
	border-radius: 3px;
	color: #ffffff;
	float: left;
	cursor: pointer;
	font-size: 15px;
	font-weight: 100;
}
#note-button:hover{
	background: #f82e54;
}
#note-button:active{
	background: #f88825;
}
.button-yes{
	float: left;
	width: 19px;
	height: 19px;
	background: url(../images/register-right.png);
	margin:11px;
}
.content-left-yes{
	float: left;
	height: 67px;
	margin: 0 0 0 247;
}

.content-left-yes input{
	width: 12px;
}
.content-left-yes label{
	float: right;
	margin: 12px;
	font-size: 13px;
	color: #bcbcbc;
}
.content-left-yes a{
	color: #2611f9;
}
.content-left-yes a:hover{
	color: #f82e54;
}
#login-btn{
	float: left;
	width:270px;
	height: 45px;
	color: #ffffff;
	background-color: #e03a3a;
	border-radius: 3px;
	font-size: 20px
}
#login-btn:hover{
	background: #f82e54;
}
#login-btn:active{
	background: #f88825;
	transition:0s;
}

.content-menu-right{
	float: left;
	width: 490px;
	height: 689px;

}
.content-menu-right-z{
	width: 442px;
	height: 232px;
	margin: 130 0 0 108;
	background: url(../images/register-z.png);
}
